body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;

}

.flex-part {
    display: flex;
    width: 100%;
    padding-bottom: 200px;

}

.flex-part p {
    text-align: justify;

}

.fp-text {
    margin: 7%;

}

.img-width {
    width: 50%;

}

.orange-color {
    color: orange;

}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border: 0;
    margin: 0;
}

.box-item {
    box-shadow: 10px 10px 50px gray;
    margin: 30px;
    width: 100%;
    padding: 70px;

}

#baby-dev {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

#full-stack {
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;

}

.resume-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

}

.exp {
    text-align: center;
}

.last-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;


}

footer {
    text-align: center;
}